In [ ]:
ANS 1- The for statement iterates through a collection or iterable objects whereas while statement simply loops until a
condition is false.

In [1]:
l= [4,67.34,"apoorva",8+2j,True,34]
for i in l:
    print(i)

4
67.34
apoorva
(8+2j)
True
34

In [2]:
num = int(input("enter desired number"))
while num%2==0:
    print("even number")
else:
    print("odd number")

enter desired number 5

odd number

In [ ]:
ANS 2

In [6]:
result = 0
for i in range(1,11):
    result+=i
result

55

In [8]:
result=1
for i in range(1,11):
    result*=i
result

3628800

In [14]:
a=10
first_nat_num=1
counter =2
while counter<=a:
    first_nat_num+=counter
    counter+=1
first_nat_num

55

In [15]:
a=10
first_nat_num=1
counter=2
while counter<=a:
    first_nat_num*=counter
    counter+=1
first_nat_num

3628800

In [ ]:
ANS 3

In [5]:
unit=int(input("Enter your unit"))
if unit<=100:
    bill=100*4.5
elif unit<=200:
    bill=450+100*6
elif unit<=300:
    bill=450+600+100*10
else:
    bill=450+600+1000+(unit-300)*20
bill

Enter your unit 310

2250

In [ ]:
ANS 5

In [35]:
str="i want to become a data scientist"
count=0
for i in range(len(str)):
    if str[i]=="a":
        count+=1
    elif str[i]=="e":
        count+=1
    elif str[i]=="i":
        count+=1
    elif str[i]=="o":
        count+=1
    elif str[i]=="u":
        count+=1
print(count)

12