In [ ]:
ANS 1: A database is a structural collection of data that is organized and stored in a way that allows for efficient retrieval,
manipulation and management of data. Databases are used in various applications and industries to store and process large 
volumes of information.
SQL databases are based on a structured schema, which defines the tables,columns and relationships within the database while 
NoSQL databases have a flexible schema or schema-less design. They do not require predefined schemas, allowing for dynamic and 
unstructured data moels.
Some popular SQL databases include MySQL, Microsoft SQL Server.
Some popular NoSQL databases include MongoDB,Cassandra.

In [ ]:
ANS 2: DDL stands for Data Definition Language, which is a subset of SQL used to define and manage the structure of a database.
DDL statements are used to create, modify, and delete database objects as tables,indexes, views and constraints.
1. CREATE: The CREATE statement is used to create a new database object, such as table. It specifies the object's name, 
structure and any additional properties or constraints.
Example:
    CREATE TABLE employees (
        id INT,
        name VARCHAR(100),
        age INT,
        PRIMARY KEY (id)
    );
    
2. DROP: The DROP statement is used to delete an existing database object, such as table. It permanently removes the object and
all associated data.
Example: 
    DROP TABLE employees;

3. ALTER: The ALTER statement is used to modify the structure of an existing database object, such as table. It allows adding, 
modifying, or dropping columns, constraints or indexes.
Example:
    ALTER TABLE employees
    ADD COLUMN salary DECIMAL(10,2);
    
4. TRUNCATE: The TRUNCATE statement is used to delete all data from an existing table while keeping its structure intact. It is
faster than the DELETE statement for removing all records from a table.
Example:
    TRUNCATE TABLE employees;

In [ ]:
ANS 3: DML stands for Data Manipulation Language. It is a subset of SQL used to manage and manipulate data within a relational
database. DML statements allows you to perform various operations an the data, such as inserting new records, updating existing
records, and deleting unwanted records.

1.INSERT: The INSERT statement is used to add new records to a table. It allows you to specify the values for each column or 
provide a query that retrieves the values from another table.
Example:
    INSERT INFO Costumers (CustomerID, FirstName, LastName)
    VALUES (1,'John','Doe');
    
2.UPDATE: The UPDATE statement is used to modify existing records in a table. It allows you to specify the columns to be 
updated and the new values for those columns. You can also include a WHERE clause to specify which records to update.
Example:
    UPDATE Customers
    SET LastName = 'Smith'
    WHERE CustomerID = 1;
    
3.DELETE: The DELETE statement is used to remove one or more records from a table. It allows you to specify a condition using 
the WHERE clause to determine which records to delete.
Example:
    DELETE FROM Customers
    WHERE CustomerID = 1;

In [ ]:
ANS 4: DQL stands for Data Query Language. It is a subset of SQL used to retrieve and query data from a relational database. 
The most commonly used DQL statement is SELECT, which allows you to fetch specific data from one or more tables based on some
condition.
Example:
    SELECT FirstName, LastName
    FROM Employees
    WHERE Department = 'Sales';

In [ ]:
ANS 5:Primary key: A primary key is as column or a set of columns in a table that uniquely identifies each row in a table.
It ensures the uniqueness and integrity of the data within the table.
Foreign key: A foreign key is a column or a set of columns in a table theat refers to the primary key of another table. It 
establishes a relationship between two tables, known as a parent-child relationship. The foreign key is the child table 
references the primary key in the parebnt table.

In [ ]:
ANS 6:

In [ ]:
import mysql.connector
cnx=mysql.connector.connect(
    user='your_username',
    password='your_password',
    host='localhost',
    database='your_database'
)
cursor=cnx.cursor()
query="SELECT * FROM your_table"
cusror.execute(query)
results=cursor.fetchall()
for row in results:
    print(row)
cursor.close()
cnx.close()

In [ ]:
1.cursor(): The cursor() method is used to create a cursor object, which allows you to execute SQL statement and fetch results 
from the database.
2.execute(): The execute() method is used to execute SQL queries or statements through the cursor object. It takes an SQL query
as a parameter and sends it to the  database for execution.

In [ ]:
ANS 7: 1.FROM clause
2. WHERE clause
3. GROUP BY clause
4. HAVING clause
4. SELECT clause 
5. ORDER BY clause
6. LIMIT/OFFSET clause