In [ ]:
ANS 1:

In [1]:
import pandas as pd

data = [4,8,15,16,23,42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
ANS 2:

In [2]:
import pandas as pd

list = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(list)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
ANS 3:

In [3]:
import pandas as pd

data = {
    'Name': ['Alice','Bob','Claire'],
    'Age': [25,30,27],
    'Gender': ['Female','Male','Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
ANS 4 : In pandas, a DataFrame is a two-dimensional labeled data structure that is capable of holding data of different 
types. It can be thought of as a table or a spreadsheet where data is organized in rows and columns.
On the other hand, in pandas a Series is a one-dimensional labeled array that can hold data of any type. It is similar to
a column in a DataFrame or a single column of data in a spreadsheet.
Example:

In [6]:
import pandas as pd
data = { 'Name':['John','Emma','Robert'],
        'Age':[19,42,24],
        'City':['New York','London','Paris']}
df = pd.DataFrame(data)
print(df)

     Name  Age      City
0    John   19  New York
1    Emma   42    London
2  Robert   24     Paris

In [ ]:
The above is a example of a DataFrame in which 'df' is a DataFrame with three column.
We can access individual columns(series) from the DataFrame using their column names:

In [5]:
name_series = df['Name']
print(name_series)

0      John
1      Emma
2    Robert
Name: Name, dtype: object

In [ ]:
In the above example, we accessed the 'Name' column from the DataFrame and stored it in the variable 'name_series'.

In [ ]:
ANS 5: 
    1. head(): Returns the first n rows of the DataFrame.
    
    df.head(5)
    
    2.tail() : Returns the last n rows of the DataFrame.
    
    df.tail(3)
    
    3.info() : Provides the summary of the DataFrame,including the column names, data types, and non-null counts.
    
    df.info()
    
    4. describe(): Generates descriptive statistics of the numerical columns in the DataFrame such as count,mean,standard
    deviation,minimum,maximum,and quartiles.
    
    df.describe()
    
    5.sort_values():Sorts the DataFrame by one or more columns.
    
    df.sort_values('Age')

In [ ]:
ANS 6: Both Series and DataFrame are mutable in nature and can be modified, while the Panal object is not mutable and 
has been deprecated in pandas.

In [ ]:
ANS 7: To create a DataFrame using multiple Series, you can pass a dictionary of Series objects to the 'pd.DataFrame()'
constructor. Each Series will become a column in the resulting DataFrame, and the dictionary keys will be used as the 
column names.

In [8]:
import pandas as pd

name_series = pd.Series(['Sidharth','Jungkook','Nick'])
age_series = pd.Series([32,25,28])
country_series = pd.Series(['India','South Korea','Spain'])

data = {'Name':name_series, 'Age' : age_series, 'Country': country_series}
df = pd.DataFrame(data)

print(df)

       Name  Age      Country
0  Sidharth   32        India
1  Jungkook   25  South Korea
2      Nick   28        Spain