In [ ]:
ANS 1:
    
second_row=iloc[1]
print(second_row)

In [ ]:
ANS 2: 'loc': loc is used to access data in a DataFrame based on labels. It uses label-based indexing, which means you
can refer to the rows and columns of a DataFrame using their labels or names. The syntax for loc is
df.loc[row_label, column_label], where row_label and column_label can be single labels, lists, slices, or boolean arrays.
'iloc': iloc is used to access data in a DataFrame based on integer indices. It uses position-based indexing, which means
you can refer to the rows and columns of a DataFrame using their integer positions, starting from 0. The syntax for iloc
is df.iloc[row_index, column_index], where row_index and column_index can be single integers, lists, slices, or boolean 
arrays.

In [ ]:
ANS 3:

In [1]:
import pandas as pd
course_name = ['Data Science','Machine Learning','Big Data','Data Engineer']
duration=[2,3,6,4]
df = pd.DataFrame({'course_name':course_name,'duration':duration})

reindex=[3,0,1,2]
new_df=df.reindex(reindex)

print(new_df.loc[2])
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
new_df.loc[2]: This line uses label-based indexing (loc) to access the data at label 2 in new_df. Since we have reindexed
df using the reindex list, the label 2 in new_df corresponds to the row that originally had the label 1 in df. Therefore,
it will print the row with the label 1 from the original df.
new_df.iloc[2]: This line uses position-based indexing (iloc) to access the data at position 2 in new_df. As we have 
reindexed df, the position 2 in new_df corresponds to the row that originally had the label 1 in df. Thus, it will print
the row with the label 1 from the original df.

In [ ]:
ANS 4:

In [2]:
import pandas as pd
import numpy as np
columns=['column_1','column_2','column_3','column_4','column_5','column_6']
indices=[1,2,3,4,5,6]

df1=pd.DataFrame(np.random.rand(6,6),columns=columns,index=indices)

col_mean=df1.mean()
print("Mean of each columns:")
print(col_mean)

col_2_std=df1['column_2'].std()
print("Standard deviation of column 2:",col_2_std)

Mean of each columns:
column_1    0.529374
column_2    0.695152
column_3    0.522162
column_4    0.696387
column_5    0.279498
column_6    0.581919
dtype: float64
Standard deviation of column 2: 0.18022824033562374

In [3]:
import pandas as pd
import numpy as np
columns=['column_1','column_2','column_3','column_4','column_5','column_6']
indices=[1,2,3,4,5,6]

df1=pd.DataFrame(np.random.rand(6,6),columns=columns,index=indices)

df1.loc[2,'column_2']='your_string_variable'
col_2_maen=df1['column_2'].mean()
print("Mean of column 2:",col_2_maen)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
However, this code may throw an error if the data type of 'column_2' is not compatible with the string variable being
assigned. If 'column_2' contains numerical values, it should have a numeric data type (e.g., float or int). Replacing it
with a string variable will result in a data type mismatch, causing an error.

In [ ]:
ANS 6: In pandas, window functions provide a way to perform calculations over a specific window or subset of data in a
DataFrame or Series. These functions allow you to compute statistics, aggregations, and transformations on rolling or
expanding windows of data.
There are several types of window functions available in pandas:
Rolling Window Functions: These functions operate on a defined fixed-size window and move it across the data.
Expanding Window Functions: These functions calculate statistics for the expanding window, which includes all preceding
data points.
Rolling and Expanding Window Functions with GroupBy: These functions allow you to perform window operations within each
group when using the groupby functionality. Some examples include groupby().rolling() and groupby().expanding().

In [ ]:
ANS 7:

In [4]:
import pandas as pd
from datetime import datetime
current_datetime=datetime.now()

current_month=current_datetime.strftime('%B')
current_year=current_datetime.strftime('%Y')

print('Current Month:',current_month)
print('Current Year:',current_year)

Current Month: July
Current Year: 2023

In [ ]:
ANS 8:

In [5]:
import pandas as pd

date1_str=input("Enter first date:")
date2_str=input("Enter second date:")
date1=pd.to_datetime(date1_str)
date2=pd.to_datetime(date2_str)
time_difference=date2-date1
days=time_difference.days
hours=time_difference.seconds//3600
minutes=(time_difference.seconds%3600)//60
print("Difference between the dates:")
print("Days:",days)
print("Hours:",hours)
print("Minutes:",minutes)

Enter first date: 2023-12-04
Enter second date: 2023-06-23

Difference between the dates:
Days: -164
Hours: 0
Minutes: 0

In [ ]:
ANS 9:

In [ ]:
import pandas as pd
file_path=input("Enter file path:")
column_name=input("Enter column name:")
category_order=input("Enter category order:").split(,)
df=pd.read_csv(file_path)
df[column_name]=pd.Categorical(df[column_name],categories=category_order,ordered=True)
sorted_data=df.sort_values(column_name)
print("Sorted data:")
print(sorted_data)

In [ ]:
ANS 10:

In [ ]:
import pandas as pd
import matpotlib.pyplot as plt
file_path=input("Enter file path:")
df=pd.raed_csv(file_path)
grouped_data=df.groupby(['Product category','Date'])['Sales'].sum().unstack()
grouped_data.plot(kind='bar',stacked=True)
plt.xlabel('Date')
plt.ylabel('Sales')
plt.title("Sales by product category over time")
plt.show()

In [ ]:
ANS 11:

In [6]:
import pandas as pd
data={'StudentID':[1,2,3,4,5,6,7,8,9,10],'TestScore':[85,90,80,75,85,82,78,85,90,85]}
df=pd.DataFrame(data)
file_path='data_csv'
df.to_csv(file_path,index=False)
print("CSV file created successfully")

CSV file created successfully

In [8]:
import pandas as pd
file_path = input("Enter the file path of the CSV file containing the student data: ")

df = pd.read_csv(file_path)

mean_score = df['TestScore'].mean()
median_score = df['TestScore'].median()
mode_scores = df['TestScore'].mode()

results_table = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                              'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]})
                              
print(results_table)

Enter the file path of the CSV file containing the student data:  data_csv

  Statistic Value
0      Mean  83.5
1    Median  85.0
2      Mode    85